@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.all{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 40px;
    max-width: 1266px;
    gap: 25px;
}
.h{
     font-family: "Poppins", sans-serif;
     color: rgb(90, 62, 43);
     font-size: 22px;
}
.p{
    font-family: "Poppins", sans-serif;
     color: #454444;
}
.hh{
    text-align: center;
    font-family: "Poppins", sans-serif;
     color: rgb(90, 62, 43);
     font-size: 26px;
}
.p a{
    text-decoration: none;
     font-family: "Poppins", sans-serif;
     color: #454444;
     
}
.p a:hover {
    /* color: wheat; */
     color: rgb(90, 62, 43);
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}

.footer {
    background-color: #2f2620;
    margin-top: 50px;
    padding: 29px 20px;
    /* margin-top: 235px; */
}

.footall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: "Poppins", sans-serif;
    max-width: 89vw;
    margin: auto;
    margin-top: 66px;
    gap: 90px;
}

.footh h1 {
    color: #f5efe6;

}

.footh p {
    color: #cfc6b8;
    padding-top: 10px;
    width: 20vw;
}

.ft-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 21px;
}

.footh h2 {
    color: #f5efe6;
    font-size: 21px;
}


.ft-links a {
    display: flex;
font-size: 14px;
    flex-direction: column;
    text-decoration: none;
    color: #cfc6b8;
}

.ft-links a:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
.sep{
    width: 96vw;
    height: 1px;
    background-color: wheat;
    margin-top: 72px;
}
.end{
    text-align: center;
     color: #cfc6b8;
     margin-top: 19px;
     font-family: "Poppins", sans-serif;
     font-size: 18px;
}
.end-links{
    display: flex;
    justify-content: center;
     color: #cfc6b8;
     text-decoration: none;
     gap: 14px;
     margin-top: 10px;
}
.end-links a{
     color: #cfc6b8;
     text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
}
.end-links a:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
.end-links p{
    font-weight: 800;
    font-size: 20px;
}
.end-icons{
    display: flex;
    justify-content: flex-end;
    margin-top: -51px;
    max-width: 87vw;
}
.end-icons img{
    width: 32px;
    height: 32px;
    
}
.ft-links p {
    display: flex;
font-size: 14px;
    flex-direction: column;
    text-decoration: none;
    color: #cfc6b8;
}

.ft-links p:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
@media (max-width: 767px){
    .all{
        padding-left: 7px;
        margin-top: 9px;
    }
    .footall {
    grid-template-columns: 1fr;
            /* text-align: center; */
        gap: 14px;
        max-width: 85vw;
        margin: auto;
  }
  .footh p{
    width: 86vw;
  }
  .sep {
    width: 100vw;
    height: 1px;
    background-color: wheat;
    margin-top: 45px;
    margin-left: -20px;
  }

  .end-icons {
    justify-content: center;
    margin-top: 20px;
  }
  .hh{
    text-align: center;
    font-size: 16px;
  }
  .h{
    font-size: 15px;
    margin-top: 20px;
  }
}
@media(min-width: 768px) and
 (max-width: 1024px){
       .footall {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .footh p {
    width: auto;
  }
 }