@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.all {
    max-width: 1223px;
    margin: 109px;
    display: flex;
    gap: 50px;
}
.back-btn a{
    background: transparent;
    border: 1px solid #3E3A32;
    color: #3E3A32;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    padding: 9px;
    position: relative;
    top: 25px;
    left: 12px;

}
.back-btn a:hover{
     background-color: #C8A165;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    border: none;
    transition: 1s ease;
}

.bg{
    border: 1px solid #3E3A32;
    width: 40vw;
    height: 95vh;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #8B5E3C;
}
.main-h{
    font-family: "Poppins", sans-serif;
    padding-top: 10px;color: rgb(47, 47, 47);
}
.details {
        display: flex;
    flex-direction: column;
    padding-left: 18px;
    font-family: "Poppins", sans-serif;
    /* padding-top: 40px; */
    gap: 12px;
}
.p{
        color: #6B6B6B;
        
}
.your-cart{
    font-family: "Poppins", sans-serif;
     padding-left: 14px;
         margin-top: 31px;
    color: #8B5E3C;
    font-size: 21px;
    
}
.cart-summary {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.main-img {
    width: 496px;
    height: 496px;
    position: relative;
    cursor: pointer;
    transition: 1s ease;

}

.main-img img {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    position: absolute;
}

.hovers {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;

}

.main-img:hover .hovers {
    opacity: 1;
}

.main-img:hover .mains {
    opacity: 0;
}

.short-img {
    width: 98px;
    display: flex;
    gap: 10px;
    padding-top: 15px;
}

.short-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.cart-summary{
        border-top: 1px solid #ccc;
    padding-top: -17px;
    position: relative;
    top: 31px;
     font-family: "Poppins", sans-serif;
}

.cart-summary p{
    position: relative;
   
    top: 14px;
    padding-left: 14px;
}
.cart-summary button{
    position: relative;
    top: 30px;
    left: 14px;
    padding: 14px;
    background-color: #C8A165;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    transition: 0.5s ease;
    border: none;
    cursor: pointer;
}
.footer {
    background-color: #2f2620;
    margin-top: 50px;
    padding: 29px 20px;
    /* margin-top: 235px; */
}

.footall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: "Poppins", sans-serif;
    max-width: 89vw;
    margin: auto;
    margin-top: 66px;
    gap: 90px;
}

.footh h1 {
    color: #f5efe6;

}

.footh p {
    color: #cfc6b8;
    padding-top: 10px;
    width: 20vw;
}

.ft-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 21px;
}

.footh h2 {
    color: #f5efe6;
    font-size: 21px;
}


.ft-links a {
    display: flex;
font-size: 14px;
    flex-direction: column;
    text-decoration: none;
    color: #cfc6b8;
}

.ft-links a:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
.sep{
    width: 96vw;
    height: 1px;
    background-color: wheat;
    margin-top: 72px;
}
.end{
    text-align: center;
     color: #cfc6b8;
     margin-top: 19px;
     font-family: "Poppins", sans-serif;
     font-size: 18px;
}
.end-links{
    display: flex;
    justify-content: center;
     color: #cfc6b8;
     text-decoration: none;
     gap: 14px;
     margin-top: 10px;
}
.end-links a{
     color: #cfc6b8;
     text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
}
.end-links a:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
.end-links p{
    font-weight: 800;
    font-size: 20px;
}
.end-icons{
    display: flex;
    justify-content: flex-end;
    margin-top: -51px;
    max-width: 87vw;
}
.end-icons img{
    width: 32px;
    height: 32px;
    
}
.ft-links p {
    display: flex;
font-size: 14px;
    flex-direction: column;
    text-decoration: none;
    color: #cfc6b8;
}

.ft-links p:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
@media (max-width: 767px){
    .all {
   width: 100vw;
    margin: 14px;
    display: flex;
    flex-direction: column;
}
.main-img {
    width: 331px;
    height: 331px;
}
.details{
    padding-left: 14px;
}

.bg{
    width: 92vw;
    height: 74vh;
}
 .footall {
    grid-template-columns: 1fr;
            /* text-align: center; */
        gap: 14px;
        max-width: 85vw;
        margin: auto;
  }
  .footh p{
    width: 86vw;
  }
  .sep {
    width: 100vw;
    height: 1px;
    background-color: wheat;
    margin-top: 45px;
    margin-left: -20px;
  }

  .end-icons {
    justify-content: center;
    margin-top: 20px;
  }
}
@media (max-width: 767px){
    .all {
   width: 100vw;
    margin: 14px;
    display: flex;
    flex-direction: column;
}
}
@media(min-width: 768px) and
 (max-width: 1024px){
    .all{
    max-width: 1223px;
    margin: 23px;

    }
     .footall {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .footh p {
    width: auto;
  }
  .main-img {
    width: 354px;
    height: 354px;
  }
  .bg{
    height: 52vh;
  }
 }
html, body {
    overflow-x: hidden;
    max-width: 100%;
}