@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.all {
    max-width: 1223px;
    margin: 109px;
    display: flex;
}

.main-img {
    width: 496px;
    height: 496px;
    position: relative;
    cursor: pointer;
    transition: 1s ease;

}

.main-img img {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    position: absolute;
}

.hovers {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;

}

.main-img:hover .hovers {
    opacity: 1;
}

.main-img:hover .mains {
    opacity: 0;
}

.short-img {
    width: 98px;
    display: flex;
    gap: 10px;
    padding-top: 15px;
}

.short-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    padding-left: 52px;
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    gap: 12px;
}

.main-h {
    color: rgb(47, 47, 47);
}

.price {
    color: #8B5E3C;
    font-size: 24px;
    font-weight: 600;
}
.size select{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
      color: #3f3e3e;
}
.size option{
    font-size: 13px;
    color: black;
    
}
.size label{
      font-size: 18px;
    font-family: "Poppins", sans-serif;
      color: #3f3e3e;
}
.quantity label{
      font-size: 18px;
    font-family: "Poppins", sans-serif;
      color: #3f3e3e;
}
.quantity input{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
      color: #3f3e3e;
}
.qns{
    display: flex;
    gap: 10px;
}
.p{
        color: #6B6B6B;
        
}
.p ul{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
        gap: 12px;
    margin-left: 16px;
}
.btn button{
    background: transparent;
    border: 1px solid #3E3A32;
    color: #3E3A32;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    padding: 9px;
    padding-top: 9px;
    margin-left: 5px;
    font-size: 17px;
    cursor: pointer;
}
.btn button:hover {
    background-color: #C8A165;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    padding: 9px;
    /* position: relative;
    top: 11px; */
    transition: 0.5s ease;
    border: none;

}
.btn2{
    margin-top: -25px;
    margin-left: 116px;
}
.btn2 a{
    background: transparent;
    border: 1px solid #3E3A32;
    color: #3E3A32;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    padding: 9px;
    padding-top: 9px;
    margin-left: 5px;
}
.h{
     color: rgb(47, 47, 47);
     display: flex;
     gap: 10px;
     margin-top: 26px;
     font-size: 15px;
}
.footer {
    background-color: #2f2620;
    margin-top: 50px;
    padding: 29px 20px;
    /* margin-top: 235px; */
}

.footall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: "Poppins", sans-serif;
    max-width: 89vw;
    margin: auto;
    margin-top: 66px;
    gap: 90px;
}

.footh h1 {
    color: #f5efe6;

}

.footh p {
    color: #cfc6b8;
    padding-top: 10px;
    width: 20vw;
}

.ft-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 21px;
}

.footh h2 {
    color: #f5efe6;
    font-size: 21px;
}


.ft-links a {
    display: flex;
font-size: 14px;
    flex-direction: column;
    text-decoration: none;
    color: #cfc6b8;
}

.ft-links a:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
.sep{
    width: 96vw;
    height: 1px;
    background-color: wheat;
    margin-top: 72px;
}
.end{
    text-align: center;
     color: #cfc6b8;
     margin-top: 19px;
     font-family: "Poppins", sans-serif;
     font-size: 18px;
}
.end-links{
    display: flex;
    justify-content: center;
     color: #cfc6b8;
     text-decoration: none;
     gap: 14px;
     margin-top: 10px;
}
.end-links a{
     color: #cfc6b8;
     text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
}
.end-links a:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}
.end-links p{
    font-weight: 800;
    font-size: 20px;
}
.end-icons{
    display: flex;
    justify-content: flex-end;
    margin-top: -51px;
    max-width: 87vw;
}
.end-icons img{
    width: 32px;
    height: 32px;
    
}
.ft-links p {
    display: flex;
font-size: 14px;
    flex-direction: column;
    text-decoration: none;
    color: #cfc6b8;
}

.ft-links p:hover {
    color: wheat;
    transition: 0.1s cubic-bezier(0.57, 0.68, 0.45, 1.36);


    transition: color 0.3s;
}

@media (max-width: 767px){
    .all {
    max-width: 1223px;
    margin: 14px;
    display: flex;
    flex-direction: column;
}
.main-img {
    width: 331px;
    height: 331px;
}
.details{
    padding-left: 0px;
}
.size {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
      color: #3f3e3e;
}
.size {
    font-size: 13px;
    color: black;
    
}
.size label{
      font-size: 18px;
    font-family: "Poppins", sans-serif;
      color: #3f3e3e;
}
.qns{
        margin-top: 2px;
    margin-left: 3px;
    width: fit-content;
}
  .footall {
    grid-template-columns: 1fr;
            /* text-align: center; */
        gap: 14px;
        max-width: 85vw;
        margin: auto;
  }
  .footh p{
    width: 86vw;
  }
  .sep {
    width: 100vw;
    height: 1px;
    background-color: wheat;
    margin-top: 45px;
    margin-left: -20px;
  }

  .end-icons {
    justify-content: center;
    margin-top: 20px;
  }
}
@media(min-width: 768px) and
 (max-width: 1024px){
    .main-img {
    width: 398px;
    height: 398px;
    }
     .footall {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .all{
    margin: 14px;
  }

  .footh p {
    width: auto;
  }
}
html, body {
    overflow-x: hidden;
    max-width: 100%;
}